html::-webkit-scrollbar{
    display: none;
}
body{

    width: 100%;
}

section{
    display: flex;
    padding: 200px 0;
}

.anime-area{
    position: relative;
    overflow-x: hidden;
    
}

.contents{
    width: 880px;
    margin: 0 auto;
}

img{
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: 1;
    transform: translateX(-50%) ;
}


