html::-webkit-scrollbar{
    display: none;
}
body{

    width: 100%;
}

section{
    display: flex;
    padding: 200px 0;
}

.anime-area{
    position: relative;
    border: 1px solid #000;
}

section.anime-area{
    width: calc(100vw - 100px);
    height: calc(100% - 100px);
}

section div{
    width: 200px;
    height: 200px;
}

.contents{
    width: 880px;
    margin: 0 auto;
}

.anime{
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: 1;
}


