

section{
    display: flex;
    padding: 200px 0;
}

.anime-area{
    position: relative;
    border: 1px solid #000;
    min-width: 500px;
    min-height: 200px;
}



.contents{
    width: 880px;
    margin: 0 auto;
}

.anime{
    display: block;
    position: absolute;
    z-index: -1;
    width: 100px;
    height: 100px;
}


